*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(231, 233, 235);
}

input:focus{
    outline: none;
}

main{
    height: 92vh;
    display: flex;
}

button {
    font-weight: bold;
    color: white;
    padding: 3px 7px;
    background-color: rgb(39, 212, 39);
    transition-duration: 0.5s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(32, 170, 32);
}

/*-----------------
       Header
-------------------*/

header{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 203, 207);
    font-weight: bold;
}

.logo-container{
    display: flex;
    color: rgb(72, 75, 77);
    text-decoration: none;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.measures{
    margin: 0px 10px;
}
.measures-input{
    width: 50px;
}
.import-export button{
    margin: 0px 5px;
}


/*--------------
    side bar
--------------*/

.sidebar{
    height: 100%;
    width: 15vw;
    background-color: rgb(206, 209, 212);
}

.sidebar .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    height: 10%;
    border-bottom: 1px black solid;
    position: relative;
}

.pallets-container{
    height: 90%;
    overflow: auto;
    padding-top: 5px;
}


/*----------------------------
    add new paillet div
-----------------------------*/
.add-new-pallet{
    position: absolute;
    top: 50px;
    right: -80px;
    background-color: rgb(245, 243, 243);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    display: none;
    z-index: 2;
}

.add-new-pallet button {
    margin-top: 10px;
}

.cancel-btn{
    background-color: rgb(192, 57, 57);
    margin-right: 10px;
}


/*------------
    paillet
-------------*/

.pallet{
    background-color: rgb(109, 113, 117);
    margin: 5px;
    border: 1px solid rgb(52, 54, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pallet p {
    color: rgb(245, 243, 243);
    font-weight: bold;
}

.dimensions{
    position: absolute;
    font-size: 14px;
}

.side-line-container{
    right: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}
.bottom-line-container{
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.line{
    background-color: black;
    position: relative;
}
.side-line{
    margin-left: 2px;
    width: 1px;
    height: 80%;
}
.bottom-line{
    margin-top: 2px;
    width: 80%;
    height: 1px;
    margin: auto;
}

.arrow {
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.side-line .arrow-start{
    top: 0;
    left: -2px;
    transform: rotate(135deg);
}
.side-line .arrow-end{
    bottom: 0;
    left: -2px;
    transform: rotate(-45deg);
}
.bottom-line .arrow-start{
    left: 0;
    top: -2px;
    transform: rotate(45deg);
}
.bottom-line .arrow-end{
    right: 0;
    top: -2px;
    transform: rotate(-135deg);
}

.close{
    position: absolute;
    background-color: rgb(243, 241, 241);
    border-radius: 50%;
    padding: 1px;
    border: 2px solid black;
    display: none;
    top: -12px;
    right: -12px;
    z-index: 2;
    width: 20px;
}
.close:hover{
    cursor: pointer;
}


/*------------------
    container side
--------------------*/

.container-side{
    width: 100%;
    position: relative;
    overflow: auto;
}

.container-panel{
    position: relative;
    margin: 60px;
}

.select-container{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

/*---------------
    container
----------------*/

.container{
    background-color: rgb(190, 22, 22);
    border: 2px solid black;
    width: 100%;
    height: 100%;
    position: relative;
}

.container-panel .side-line-container{
    left: -50px;
}
.container-panel .bottom-line-container{
    top: -30px;
}