*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(231, 233, 235);
}

input:focus{
    outline: none;
}

main{
    height: 92vh;
}

button {
    font-weight: bold;
    color: white;
    padding: 3px 7px;
    background-color: rgb(39, 212, 39);
    transition-duration: 0.5s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(32, 170, 32);
}

/*-----------------
       Header
-------------------*/

header{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 203, 207);
    font-weight: bold;
}

.logo-container{
    display: flex;
    color: rgb(72, 75, 77);
    text-decoration: none;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.measures{
    margin: 0px 10px;
}
.measures-input{
    width: 50px;
}
.import-export button{
    margin: 0px 5px;
}


/*--------------
    side bar
--------------*/

.sidebar{
    height: 100%;
    width: 15vw;
    background-color: rgb(206, 209, 212);
}

.sidebar .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    height: 10%;
    border-bottom: 1px black solid;
}

.pallets-container{
    height: 90%;
    overflow: auto;
}

/*------------
    paillet
-------------*/

.pallet{
    background-color: rgb(109, 113, 117);
    width: 100px;
    margin: 5px;
    height: 100px;
    border: 3px solid rgb(51, 52, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}


